.about{
    .banner{
        width: 100%;
        height: 500px;
        background: #0A112D;
        line-height: 200px;
        color: #ffffff;
    }

    .container{
        .about-content{
            .content-title{
                margin-top: 150px;
                font-size: 60px;
                font-weight: 700;
                line-height: 1.61;
            }
            .content-sub{
                width: 60%;
                margin-top: 16px;
                font-size: 18px;
                font-weight: 400;
                line-height: 1.67;
            }
            .wrap-identity{
                margin-top: 200px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
        }

        // PROJECT
        .about-project{
            margin-top: 150px;
            .group-project{
                margin-top: 5%;
                .wrap-project{
                    width: 100%;
                    margin-top: 2%;
                    display: flex;
                    justify-content: space-between;
                    .project-item{
                        margin-right: 2%;
                        padding: 6% 3%;
                        background: #ccc;
                        &:hover{
                            color: #ffffff;
                            .project-name{ color: #ffffff; }
                        }
    
                        .project-number{
                            font-size: 18px;
                            font-weight: 400;
                            color: #3bbbbc;
                            line-height: 1.67;
                        }
                        .project-name{
                            margin-top: 16PX;
                            font-size: 24PX;
                            font-weight: 700;
                            line-height: 1.25;
                            color: #8F8F8F;
                        }
                        .project-intro{
                            margin-top: 23px;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 1.6;
                        }
                        .project-more{
                            width: 100%;
                            margin-top: 20%;
                            text-align: right;
                            line-height: 1.88;
                        }
                    }
    
                    .only{
                        width: 100%;
                        .project-intro{
                            width: 30%;
                        }
                    }
                }
            }
        }
        .about-team{
            margin: 160px 0 150px 0;

            .wrap-member{
                margin-top: 80px;
                display: flex;
                justify-content: flex-end;

                .wrap-member-title{
                    .member-title-border{
                        width: 27px;
                        height: 2px;
                        background: #0A112D;
                    }
                    .member-title{
                        margin-right: 30px;
                        font-size: 24px;
                        font-weight: 600;
                    }
                }

                .wrap-member-items{
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        }

        div{
            .about-title{
                font-size: 30px;
                font-weight: 700;
            }
            .about-subtitle{
                margin-top: 9px;
                font-size: 18px;
                font-weight: 400;
                line-height: 1.67;
            }
        }
    }
    
    .about-temp{
        width: 100%;
        height: 400px;
        background: #eee;
    }
}

// Identity Item
.identity-item{
    width: 360px;
    margin-bottom: 8%;
    .identity-icon{
        width: 30px;
        height: 30px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .icon-1{ background-image: url(../resource/img/identity-1.png); }
    .icon-2{ background-image: url(../resource/img/identity-2.png); }
    .icon-3{ background-image: url(../resource/img/identity-3.png); }
    .identity-title{
        margin-top: 8px;
        font-size: 30px;
        font-weight: 700;
        line-height: 1.2;
    }
    .identity-intro{
        margin-top: 20px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.6;
    }
}

// Member Item
.member-item{
    margin: 0 0 90px 40px;
    .member-profile{
        width: 180px;
        height: 220px;
        background: #eee;
    }
    .member-name{
        margin-top: 15px;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.88;
    }
    .member-position{
        font-size: 13px;
        font-weight: 400;
        line-height: 2.31;
    }
}