.about{
    .wrap-banner{
        position: relative;

        @keyframes slidy {
            0% { left: 0%; }
            10% { left: 0%; }
            50%{ left: -100%; }
            60%{ left: -100%; }
            90%{ left: -200%; }
            100%{ left: -200%; }
        }
            
        div#slider { overflow: hidden; }
        div#slider figure .banner-item { 
            width: 100vw; 
            height: 560px; 
            background: #0a112d;
            margin-top: 60px;
            float: left;
            color: #ffffff;
            .wrap-subtitle{
                .subtitle-border{
                    width: 46px;
                    height: 2px;
                    background: #ffffff;
                }
                .subtitle-text{
                    margin-top: 9px;
                    font-size: 16px;
                    font-weight: 300;
                    color: #ffffff;
                }
            }
        }

        div#slider figure { 
            position: relative;
            width: 300vw;
            margin: 0;
            left: 0;
            text-align: left;
            font-size: 0;
            animation: 15s slidy infinite; 
        }

        .banner-index{
            position: absolute;
            font-size: 20px;
            font-weight: 300;
            color: #ffffff;
        }
    }

    .about-content{
        // TODO: MIRIMO background-image

        // COMPANY
        .company{
            .company-title{
                font-size: 60px;
                font-weight: 700;
                line-height: 1.61;
            }
            .company-intro{
                font-size: 18px;
                font-weight: 400;
                line-height: 1.67;
            }
        }

        // IDENTITY
        .identity{
            .wrap-identity{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .identity-item{
                    display: flex;
                    flex-direction: column;
                    .identity-icon{
                        width: 52px;
                        height: 52px;
                    }
                    .identity-title{
                        margin-top: 20px;
                        font-size: 30px;
                        font-weight: 700;
                    }
                    .identity-content{
                        margin-top: 20px;
                        font-size: 16px;
                        font-weight: 400;
                    }

                    // IDENTITY-ICON 이미지 설정
                    .icon1{
                        background-image: url(../resource/img/identity-1.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                    .icon2{
                        background-image: url(../resource/img/identity-2.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                    .icon3{
                        background-image: url(../resource/img/identity-3.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                }
            }
        }

    }

    // TEMP
    .about-temp{
        width: 100%;
        height: 810px;
        margin-top: 70px;
        background: #e1e1e1;
    }

    // PROJECTS
    .about-projects{
        .projects-desktop{
            .wrap-project{
                display: flex;
                &:last-child{
                    .project-item{
                        margin-top: 20px;
                        width: 100%;
                    }
                }
            }
        }

        .projects-mobile{

        }

        .project-item{
            background: #e1e1e1;
            margin-right: 20px;
            color: #000000;
            a{ text-decoration: none; color: #8f8f8f; }
            .project-item-number{
                color: #48e3e4;
                font-size: 18px;
                font-weight: 400;
            }
            .project-item-title{
                color: #8f8f8f;
                font-size: 24px;
                font-weight: 700;
            }
            .project-item-intro{
                font-size: 16px;
                font-weight: 400;
            }
            .project-item-viewmore{
                text-align: right;
                font-size: 16px;
                font-weight: 400;
            }

            &:last-child{
                margin-right: 0;
            }

            &:hover{
                background: #8c8c8c;
                transition: color .20s ease-in-out,background-color .20s ease-in-out;
                .project-item-title{ color: #ffffff; }
                .project-item-intro{ color: #ffffff; }
                .project-item-viewmore{ color: #ffffff; }
            }
        }
    }

    // PEOPLE
    .about-people{
        .wrap-people{
            .wrap-major{
                display: flex;
                flex-wrap: wrap;
                .wrap-major-title{
                    .major-border{ width: 27px; height: 2px; background: #000; }
                    .major-title{ font-size: 24px; font-weight: 600; line-height: 1.25;}
                }
                .wrap-member{
                    display: flex;
                    flex-wrap: wrap;
                }
            }

            
        }
    }

    .about-content-sub{
        margin-top: 10px;
        font-size: 18px;
        font-weight: 400;
    }
}


// PC버전에만 적용
@media only screen {
    .about{
        .wrap-banner{
            .banner-item{
                padding: 80px 0 0 200px;
                .banner-title{
                    margin-top: 100px;
                    font-size: 47px;
                    font-weight: 300;
                }
            }

            .banner-index{
                bottom: 50px;
                right: 200px;
            }
        }
    
        .about-content{
            .company{
                margin-top: 150px;
                .company-intro{
                    width: 65%;
                    margin-top: 16px;
                }
            }
    
            .identity{
                margin-top: 200px;
                .identity-item{
                    width: 30%;
                }
            }
    
        }
    
        .about-temp{
    
        }
    
        .about-projects{
            margin-top: 150px;
            .projects-desktop{
                margin-top: 40px;
                visibility: visible;
                .wrap-project{
                    &:last-child{
                        .project-item{
                            padding: 35px 29px 35px 38px; 
                            .project-item-intro{ width: 40%; }
                            .project-item-viewmore{ margin-top: 10px; }
                        }
                    }
                }
            }
            .projects-mobile{
                display: none;
            }
            
            .project-item{
                padding: 76px 30px 70px 38px;
                .project-item-title{ margin-top: 16px; }
                .project-item-intro{ margin-top: 23px; }
                .project-item-viewmore{ margin-top: 60px; }
            }
        }
    
        .about-people{
            margin-top: 168px;
            .wrap-people{
                margin: 80px 0 179px 0;
                .wrap-major{
                    justify-content: flex-end;
                    .wrap-member{
                        justify-content: flex-end;
                    }
                }
            }
        }
    }

    .about-content-title{
        font-size: 30px;
        font-weight: 700;
    }
}


// MOBILE버전에만 적용
@media only screen and (max-device-width: 813px) {
    .about{
        .wrap-banner{
            .banner-item{
                padding: 200px 30px 0 20px;
                .banner-title{
                    margin-top: 30px;
                    font-size: 40px;
                    font-weight: 300;
                }
            }

            .banner-index{
                bottom: 50px;
                left: 20px;
            }
        }
    
        .about-content{
            .company{
                margin-top: 100px;
                text-align: center;
                .company-intro{
                    width: 100%;
                    margin-top: 70px;
                }
            }
    
            .identity{
                margin-top: 300px;
                .identity-item{
                    width: 100%;
                    margin-bottom: 150px;
                    align-items: center;
                    text-align: center;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
    
        }
    
        .about-temp{
    
        }
    
        .about-projects{
            margin-top: 90px;
            .projects-desktop{
                display: none;
            }
            .projects-mobile{
                display: block;
                visibility: visible;
                margin-top: 35px;
                .project-item{
                    width: 100%;
                    margin-top: 20px;
                    padding: 28px 24px 24px 38px;
                    .project-item-title{ margin-top: 7px; }
                    .project-item-viewmore{ font-weight: 600; margin-top: 20px; }
                }
            }
            
        }
    
        .about-people{
            margin-top: 96px;
            .wrap-people{
                margin: 4px 0 139px 0;
                .wrap-major{
                    justify-content: flex-start;
                    .wrap-major-title{
                        margin-top: 40px;
                        margin-bottom: 30px;
                    }
                    .wrap-member{
                        justify-content: space-between;
                    }
                }
            }
            
        }
    }

    .about-content-title{
        font-size: 24px;
        font-weight: 700;
    }
    .about-content-sub{
        width: 80%;
    }
  }