@import "./mixin.scss";

.about{
    .about-banner{
        .wrap-banner{
            position: relative;
    
            @keyframes slidy {
                0% { left: 0%; }
                20% { left: 0%; }
                25% { left: -100%; }
                45% { left: -100%; }
                50% { left: -200%; }
                70% { left: -200%; }
                75% { left: -300%; }
                95% { left: -300%; }
                100% { left: -400%; }
            }
                
            div#slider { overflow: hidden; }
            div#slider figure .banner-item { 
                width: 20%; 
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                float: left;
                color: #ffffff;
            }
    
            div#slider figure { 
                position: relative;
                width: 500%;
                margin: 0;
                left: 0;
                text-align: left;
                font-size: 0;
                animation: 20s slidy infinite; 
            }
    
            .wrap-banner-content{
                position: absolute;
                color: #ffffff;
                .wrap-subtitle{
                    .subtitle-border{
                        width: 46px;
                        height: 2px;
                        background: #ffffff;
                    }
                    .subtitle-text{
                        margin-top: 9px;
                        font-size: 16px;
                        font-weight: 300;
                    }
                }    
            }
    
            .banner-index{
                position: absolute;
                font-size: 20px;
                font-weight: 300;
                color: #ffffff;
            }
            
        }
    }

    .about-content{
        .cus-container{
            margin: 0;
            padding: 0 15%;
            position: relative;
            
            .content-title{
                font-size: 60px;
                font-weight: 700;
            }
            .content-content{
                font-size: 18px;
                font-weight: 400;
            }
            .content-background{
                position: relative;
                background: url('../resource/img/main_2-2.png');
                background-repeat: no-repeat;
                background-size: contain;
                z-index: -1;
            }
        }
    }

    .about-identity{
        .wrap-identity{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .identity-item{
                .ident-icon{
                    width: 52px;
                    height: 52px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .ident-title{
                    margin-top: 19px;
                    font-size: 30px;
                    font-weight: 700;
                }
                .ident-content{
                    margin-top: 20px;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
            
        }
    }

    .about-temp{
        width: 100%;
        background-image: url('../resource/img/about/about-temp.png');
        background-size: cover;
        background-position: center;
    }

    .about-project{
        .about-project-subtitle{
            font-size: 18px;
            font-weight: 400;
        }
    }

    .about-people{
        .wrap-people{
            display: flex;
            flex-wrap: wrap;
            .wrap-subtitle{
                .subtitle-border{
                    width: 27px;
                    height: 2px;
                    background: #000000;
                }
                .subtitle-text{
                    width: 120px;
                    font-size: 24px;
                    font-weight: 600;
                }
            }

            .wrap-member{
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
}

@include desktop {
    .about{
        margin-top: 100px;
        .about-banner{
            div#slider figure .banner-item { 
                height: 55vh;
            }

            .wrap-banner-content{
                top: 20%;
                left: 15%;
                .subtitle-text{
                    font-size: 16px;
                    font-weight: 300;
                }
                .banner-title{
                    margin-top: 100px;
                    font-size: 47px;
                    font-weight: 300;
                }

                .banner-title-mobile{
                    display: none;
                }
            }

            .banner-index{
                right: 15%;
                bottom: 50px;
                font-size: 20px;
                font-weight: 400;
            }
        }

        .about-content{
            .cus-container{
                margin: 0;
                padding: 0 0 0 15%;
                .content-title{
                    padding-top: 150px;
                }
                .content-content{
                    width: 50%;
                    padding: 16px 0 150px 0;
                }
                .content-background{
                    width: 100%;
                    height: 400px;
                    position: absolute;
                    top: 90px;
                    right: 0px;
                    background-position: right;
                    
                }
            }
        }

        .about-identity{
            margin-top: 76px;
            .wrap-identity{
                margin: 0;
                padding: 0 15%;
                .identity-item{
                    width: 32%;
                }
            }
        }

        .about-temp{
            height: 900px;
            margin-top: 80px;
        }

        .about-project{
            margin-top: 140px;
            padding: 0 15%;
            .about-project-title{
                font-size: 30px;
                font-weight: 700;
            }
            .wrap-project{
                margin-top: 40px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                a{
                    width: 32%;
                    text-decoration: none;
                    margin-bottom: 2%;
                    &:last-child{
                        width: 100%;
                    }
                }

                .project-item{
                    height: 370px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;

                    &:last-child{
                        width: 100%;
                    }

                    .width-30{
                        width: 30%;
                    }

                    .project-background{
                        width: 100%;
                        padding: 76px 40px 70px;
                        background: #00000080;
                        .project-number{
                            color: #48e3e4;
                            font-size: 18px;
                            font-weight: 400;
                        }
                        .project-title{
                            margin-top: 16px;
                            color: #ffffff;
                            text-shadow: 0px 0px 5px #00000080;
                            font-size: 24px;
                            font-weight: 700;
                        }
                        .project-content{
                            margin-top: 23px;
                            color: #ffffff;
                            text-shadow: 0px 0px 5px #00000080;
                            font-size: 16px;
                            font-weight: 400;
                        }
                        .project-viewmore{
                            margin-top: 34px;
                            color: #ffffff;
                            text-shadow: 0px 0px 5px #00000080;
                            font-size: 16px;
                            font-weight: 400;
                            text-align: right;
                        }
                    }

                    &:hover{
                        .project-background{
                            transition: background-color .30s ease-in-out;
                            background: #43bcbcbf;
                            .project-title{
                                color: #fff;
                                transition: color .25s ease-in-out;
                            }
                            .project-content{
                                color: #fff;
                                transition: color .25s ease-in-out;
                            }
                            .project-viewmore{
                                color: #fff;
                                transition: color .25s ease-in-out;
                            }
                            
                        }
                    }
                }
            }

        }

        .about-people{
            margin-top: 170px;
            padding: 0 15%;
            .people-title{
                font-size: 30px;
                font-weight: 700;
            }

            .wrap-people{
                float: right;
                margin-top: 40px;
                justify-content: flex-end;
                
            }
        }
    }
}


@include mobile{
    .about{
        .about-banner{
            div#slider figure .banner-item { 
                height: 98vh;
            }

            .wrap-banner-content{
                top: 60%;
                left: 20px;
                .banner-title{
                    display: none;
                }
                .banner-title-mobile{
                    margin-top: 30px;
                    font-size: 40px;
                    font-weight: 300;
                }
            }

            .banner-index{
                left: 20px;
                bottom: 50px;
            }
        }
    
        .about-content{
            .cus-container{
                margin: 0;
                padding: 0;
                .content-title{
                    margin: 100px 0 0 0;
                    padding: 0 20px;
                    text-align: center;
                }
                .content-content{
                    margin-top: 70px;
                    padding: 0 20px;
                    text-align: center;
                }
                .content-background{
                    position: absolute;
                    width: 100%;
                    height: 160px;
                    bottom: -200px;
                    background-position: center;
                    background-size: 120%;
                }
            }
        }
    
        .about-identity{
            margin-top: 200px;
            .wrap-identity{
                margin: 0;
                padding: 0 20px;
                .identity-item{
                    width: 100%;
                    margin-top: 100px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .ident-title{
                        text-align: center;
                    }
                    .ident-content{
                        text-align: center;
                    }
                }
            }
        }
    
        .about-temp{
            height: 350px;
            margin-top: 70px;
        }
    
        .about-project{
            margin-top: 80px;
            .about-project-title{
                padding: 0 20px;
                font-size: 30px;
                font-weight: 700;
            }
            .about-project-subtitle{
                padding: 0 20px;
            }

            .wrap-project{
                margin-top: 35px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                a{
                    text-decoration: none;
                }

                .project-item{
                    width: 100%;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    margin-bottom: 20px;

                    .project-background{
                        width: 100%;
                        padding: 28px 20px 23px 38px;
                        background: #00000080;
                        .project-number{
                            color: #48e3e4;
                            font-size: 18px;
                            font-weight: 400;
                        }
                        .project-title{
                            margin-top: 16px;
                            color: #fff;
                            text-shadow: 0px 0px 5px #00000080;
                            font-size: 24px;
                            font-weight: 700;
                        }
                        .project-content{
                            margin-top: 23px;
                            color: #fff;
                            text-shadow: 0px 0px 5px #00000080;
                            font-size: 16px;
                            font-weight: 400;
                        }
                        .project-viewmore{
                            margin-top: 34px;
                            color: #fff;
                            text-shadow: 0px 0px 5px #00000080;
                            font-size: 16px;
                            font-weight: 400;
                            text-align: right;
                        }
                    }

                    &:hover{
                        .project-background{
                            transition: background-color .30s ease-in-out;
                            background: #43bcbcbf;
                            .project-title{
                                color: #fff;
                                transition: color .25s ease-in-out;
                            }
                            .project-content{
                                color: #fff;
                                transition: color .25s ease-in-out;
                            }
                            .project-viewmore{
                                color: #fff;
                                transition: color .25s ease-in-out;
                            }
                            
                        }
                    }
                }
            }

        }
    
        .about-people{
            margin-top: 96px;
            margin-bottom: 150px;
            padding: 0 20px;
            .people-title{
                font-size: 24px;
                font-weight: 700;
            }

            .wrap-people{
                .wrap-subtitle{
                    margin-top: 45px;
                    margin-bottom: 30px;
                }
                .wrap-member{
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
            }
        }
    }
}