.info {
  .content {
    margin-top: 5%;
    margin-right: 12%;
    font-size: 1em;
    display: inline-block;
  }
}

.direction {
  .content {
    margin-top: 2.5%;
    margin-right: 12%;
    margin-bottom: 2.5%;
    font-size: 1em;
    display: inline-block;
  }
}
.title {
  margin-top: 8%;
  font-size: 1.4em;
  font-weight: 700;
}
