.info {
  .content {
    margin-top: 5%;
    margin-right: 12%;
    font-size: 1em;
    display: inline-block;
  }
}

.direction {
  .content {
    margin-top: 2.5%;
    margin-right: 12%;
    margin-bottom: 2.5%;
    font-size: 1em;
    display: inline-block;
  }

  .map {
    height: '70vh';
    width: '100%';
  }
}

.contact {
  .content {
    input {
      border: none;
      font-weight: 400;
      float: right;
    }

    .send {
      padding: 17px 50px;
      margin-top: 80px;
      margin-bottom: 300px;
    }
    font-weight: 700;
    width: 60%;
    margin: auto;
    margin-top: 100px;
  }
}

.title {
  margin-top: 8%;
  font-size: 1.4em;
  font-weight: 700;
}
