@media only screen {
  .nav {
    width: 100vw;
    height: 60px;
    background: #ffffff;
    position: fixed;
    z-index: 1;
    .wrap-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .nav-logo {
        width: 80px;
        height: 60px;
        background-image: url('../resource/img/mirimo-logo-w.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      .nav-menu {
        a {
          color: #000000;
          margin-left: 40px;
          text-decoration: none;
          font-size: 12px;
          font-weight: 400;
        }

        a:hover,
        a:active,
        .active {
          color: #3bbbbc;
        }
      }
    }
  }
}

@media only screen and (max-device-width: 813px) {
  .nav {
    .wrap-nav {
      .nav-menu {
        // display: none;
      }
    }
  }
}
