.nav{
    width: 100%;
    height: 60px;
    background: #0A112D;

    .wrap-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav-logo{
            width: 80px;
            height: 60px;
            background-image: url('../resource/img/mirimo-logo.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .nav-menu{
            a, a:hover, a:visited, a:active{
                color: white;
                margin-left: 28px;
                text-decoration: none;
            }
        }
    }
}