.nav-main {
  width: 100vw;
  height: 60px;
  background: #0a112d;
  position: fixed;
  z-index: 1;

  .wrap-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-logo{
      width: 80px;
      height: 60px;
      background-image: url('../resource/img/mirimo_mirimo_logo.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}


@media only screen {
  .nav-main{
    .nav-menu{
      a{
        margin-left: 40px;
        font-size: 12px;
        font-weight: 400;
        color: #ffffff;
        text-decoration: none;
        &:hover{
          color: #3bbbbc;
        }
      }
    }
  }
}


@media only screen and (max-device-width: 813px) {
  .nav-main{
    .nav-menu{
      
    }
  }
}