@import "./mixin.scss";

.nav-main {
  width: 100vw;
  background: #0a112d;
  position: fixed;
  top: 0;
  z-index: 20;
  .wrap-nav{
    display: flex;
    justify-content: space-between;
    .nav-logo{
      background-image: url('../resource/img/mirimo_mirimo_logo.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .nav-menu{
      display: flex;
      align-items: center;
      a{
        color: #ffffff;
        font-weight: 400;
        text-decoration: none;

        &:hover{
          color: #48e3e4;
          transition: color .10s ease-in-out;
        }
      }
    }
  }
}


@include desktop {
  .nav-main{
    height: 100px;
    
    .cus-container{
      margin: 0;
      padding: 0 340px;
      background: #0a112d;
      .wrap-nav{
        .nav-logo{
          width: 110px;
          height: 100px;
        }

        .nav-menu{
          height: 100px;
          a{
            font-size: 18px;
            margin-left: 20px;
          }
        }
      }
    }
  }
}


@include mobile{
  .nav-main{
    height: 60px;
    .cus-container{
      margin: 0;
      padding: 0 20px;
    }
    .wrap-nav{
      .nav-logo{
        width: 80px;
        height: 60px;
      }
      .nav-menu{
        height: 60px;
        a{
          font-size: 13px;
          margin-left: 10px;
        }
      }
    }
  }
}

