$main_color: #4abbbd;

.project{
    .container{
        .about-content{
            .content-title{
                margin-top: 5em;
                font-size: 1.6em;
                font-weight: 700;
            }
        }

        .wrap-project{
            margin: 7% 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}

// Project Item & Image
.project-item{
    width: 44%;
    .project-title{
        margin-top: 8px;
        font-size: 1.6em;
        font-weight: 500;
    }
    .project-intro{
        margin: 20px 0;
    }
    .project-detail{
        position: absolute;
        a{
            color: $main_color;
            &:hover{
                text-decoration: none;
                &::after{
                    transform: scaleX(1);
                }
            }
            &::after{
                display: block;
                content: '';
                border-bottom: solid 1px $main_color;
                transform: scaleX(0);
                transition: transform 250ms ease-in-out;
            }
        }
    }
}
.wrap-project{
    position: relative;
}
.project-image{
    width: 54%;
    height: 280px;
    background: #ccc;
}
.fl-right{
    margin-left: 46%;
    position: absolute;
}

@media only screen and (max-width: 480px){
    .content-title{
        margin-top: 3.6em;
    }

    // Project Item & Image
    .project-item{
        width: 100%;
        margin-bottom: 40px;
        .project-detail{
            float: right;
        }
    }
    .project-image{
        width: 100%;
        height: 220px;
        margin-bottom: 20px;
    }
    .fl-right{
        margin: 0;
        position: relative;
        width: 100%;
    }
}