@import "../mixin.scss";

@font-face {
    font-family: 'Noto Sans KR';
    src: url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
}

@mixin title{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 30px;
    color: #228b22;
}

@mixin content{
    font-weight: 400;
    font-size: 18px;
    margin-top: 43px;
    color: #000;
}

.raja-project{
    font-family: 'Noto Sans KR';
    .raja-header{
        width: 100%;
        padding: 0 15%;
        background-image: url(../../resource/img/raja/raja-ui.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .wrap-header-text{
            padding: 20% 0;
            .header-title{
                margin-bottom: 0.2%;
                font-size: 2em;
                font-weight: 700;
                color: #fff;
            }
            .header-link{
                margin-top: 3%;
                font-size: 1em;
                font-weight: 400;
                color: #fff;
            }
        }
    }

    .raja-overview{
        
        background-image: url(../../resource/img/main_2-2.png); 
        background-repeat: no-repeat;
        background-size: contain;
        .overview-title{@include title();}
        .overview-content{@include content();}
    }

    .raja-content{
        background: #f0eceb;
        display: flex;
        .content-item{
            .item-title{@include title(); }
            .item-content{@include content();}
        }
    }

    .raja-client-interview{
        .ci-title{@include title();}
        .ci-content{@include content();}
        .wrap-ci{
            display: flex;
            .ci-web-before{
                background-image: url(../../resource/img/raja/raja-interview.png);
                background-position: left;
                background-repeat: no-repeat;
                background-size: contain;
            }
            .ci-list{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }

    .raja-design-key{
        background: #f0eceb;
        .dk-title{@include title(); }
        .dk-content{@include content();}
        .wrap-dk{
            display: flex;
            position: relative;
            overflow: hidden;
            .dk-border{
                width: 100vw;
                height: 2px;
                top: 50%;
                left: 0;
                background: #333;
                position: absolute;
            }
            .dk-item{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background: #333;
                border-radius: 50%;
                color: #fff;
                z-index: 5;
                .item-eng{font-size: 30px; font-weight: 700; font-family: 'Open Sans';}
                .item-kor{font-size: 18px; font-weight: 400; margin-top: 4px;}
            }
        }
    }

    .raja-color{
        .color-title{@include title();}
        .color-content{@include content();}
        .wrap-color{
            display: flex;
            margin-top: 80px;
            .color-item{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                height: 300px;
                font-size: 18px;
                font-weight: 400;
            }
            .forest-green{background: #228b22; color: #fff;}
            .beige{background: #efecea; color: #000;}
        }
    }

    .raja-font{
        .font-title{@include title();}
        .font-name{font-size: 50px; font-weight: 400; margin-top: 32px;}
        .font-ipsum{@include content(); margin-top: 10px;}
        .wrap-font{
            display: flex;
            .font-item{
                height: 100px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }

    .raja-ui-top{
        background: #f0eceb;
        .wrap-ui{
            display: flex;
            align-items: center;
            .wrap-text{
                .ui-title{@include title();}
                .ui-content{@include content();}
            }
            .ui-mobile{
                width: 345px;
                height: 730px;
                background-image: url(../../resource/img/raja/raja-ui.png);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }

    .raja-ui-bottom{
        display: flex;
        background: #f0eceb;
    }
    
    .raja-web{
        .web-title{@include title();}
        .web-ui{
            margin: 0 auto;
            background-image: url('../../resource/img/raja/raja-desktop.png');
            background-position: top center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

@media only screen {
    .raja-project{
        .raja-header{
            margin-top: 100px;
        }
    }

    .raja-overview{
        margin: 8% 0 8% 15%;
        padding: 2% 0;
        background-position: right;
        .overview-content{
            width: 67%;
        }
    }

    .raja-content{
        padding: 8% 15%;
        justify-content: space-between;
        .content-item{
            width: 28%;
        }
    }

    .raja-client-interview{
        padding: 8% 0;
        .ci-title{padding: 0 15%;}
        .ci-content{padding: 0 15%; width: 65%;}
        .wrap-ci{
            margin-top: 20px;
            .ci-web-before{
                width: 60%;
                height: 500px;
            }
            .ci-list{
                margin-left: 100px;
                padding: 60px 0;
                font-size: 16px;
                font-weight: 500;
            }
        }
    }

    .raja-design-key{
        padding: 8% 0;
        .dk-title{padding: 0 15%;}
        .dk-content{padding: 0 15%; width: 60%;}
        .wrap-dk{
            margin-top: 80px;
            padding: 0 15%;
            justify-content: space-between;
            .dk-item{
                width: 300px;
                height: 300px;
            }
        }
    }

    .raja-color{
        padding: 8% 15%;
        .color-content{width: 45%;}
        .wrap-color{
            justify-content: space-between;
            .color-item{
                width: 49%;
                padding: 1.2%;
            }
        }
    }

    .raja-font{
        padding: 8% 15%;
        .font-ipsum{width: 55%;}
        .wrap-font{
            margin-top: 40px;
            justify-content: space-between;
            .font-item{
                width: 220px;
            }
        }
    }

    .raja-ui-top{
        padding: 8% 15% 0;
        .wrap-ui{
            .wrap-text{
                padding: 0 130px 0 0;
                width: 60%;
            }
        }
    }

    .raja-ui-bottom{
        padding: 8% 15%;
        justify-content: space-between;
        .ui-item{
            width: 300px;
            height: 1900px;
            &:nth-child(2){margin-top: 200px;}
            &:nth-child(3){margin-top: 400px;}
        }
    }

    .raja-web{
        padding: 8% 15%;
        .web-ui{
            width: 1021px;
            height: 2750px;
            margin-top: 100px;
        }
    }
}

@media only screen and (max-device-width: 813px) {
    .raja-project{
        .raja-header{
            padding: 0 20px;
            margin-top: 60px;
        }
    }
    
    .raja-overview{
        margin: 40px 0 40px 0;
        padding: 0 20px 160px;
        background-position: bottom;
        .overview-content{
            width: 100%;
            text-align: center;
        }
    }

    .raja-content{
        padding: 16% 20px 6%;
        flex-wrap: wrap;
        justify-content: center;
        .content-item{
            width: 90%;
            text-align: center;
            margin-bottom: 10%;
        }
    }

    .raja-client-interview{
        padding: 8% 0;
        .ci-title{padding: 0 20px;}
        .ci-content{padding: 0 20px; width: 100%; text-align: center;}
        .wrap-ci{
            flex-wrap: wrap;
            margin-top: 40px;
            .ci-web-before{
                width: 100%;
                height: 22vh;
            }
            .ci-list{
                padding: 8% 20px;
                font-size: 16px;
                font-weight: 500;
                .ci-li{
                    margin-bottom: 2%;
                }
            }
        }
    }

    .raja-design-key{
        padding: 8% 0;
        .dk-title{padding: 0 20px;}
        .dk-content{padding: 0 20px; width: 100%; text-align: center;}
        .wrap-dk{
            margin-top: 60px;
            padding: 0 20px;
            flex-wrap: wrap;
            justify-content: center;
            .dk-item{
                width: 220px;
                height: 220px;
                margin-bottom: 10%;
            }
        }
    }

    .raja-color{
        padding: 8% 20px 4%;
        .color-content{width: 100%; text-align: center;}
        .wrap-color{
            flex-wrap: wrap;
            .color-item{
                width: 100%;
                padding: 4%;
                margin-bottom: 4%;
            }
        }
    }

    .raja-font{
        padding: 8% 20px;
        .font-name{text-align: center;}
        .font-ipsum{width: 100%; text-align: center;}
        .wrap-font{
            flex-wrap: wrap;
            justify-content: space-between;
            .font-item{
                width: 48%;
                margin-bottom: 4%;
            }
        }
    }

    .raja-ui-top{
        padding: 8% 20px;
        .wrap-ui{
            flex-wrap: wrap;
            justify-content: center;
            .wrap-text{
                width: 100%;
                padding: 0;
                .ui-content{ margin-bottom: 40px; text-align: center;}
            }
            .ui-mobile{
                width: 345px;
                height: 730px;
                background-image: url(../../resource/img/raja/raja-ui.png);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }

    .raja-ui-bottom{
        padding: 10% 20px 8%;
        flex-wrap: wrap;
        justify-content: center;
        .ui-item{
            width: 100%;
            height: 2000px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .raja-web{
        padding: 8% 20px;
        .web-ui{
            width: 100%;
            height: 1200px;
            margin-top: 40px;
        }
    }
}